:root {
    --header-color: #fffffff2;
    --header-text-color: #020202e1;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --description-color: #595959;

    --body-background: #e5e5e5;
    --header-background-color: rgb(55, 152, 201);
    --link-background: rgb(26, 147, 247);
    --primary-background: #fffffffb;
    --secondary-background: rgb(55, 152, 201);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--body-background);
}

p,h1,h2,h3,h4{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container{
    width: 798px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/*----------------header------------------*/
.header{
    display: flex;
    align-items: center;
    background-color: var(--primary-background);
}

.header__box{
    width: 75%;
    height: 100%;
    background-color: var(--header-background-color);
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__name{
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
}

.left-side{
    width: 75%;
    margin: 0;
}

.section{
    padding: 15px 15px 15px 20px;
    background-color: var(--primary-background);
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: var(--secondary-background);
}

.text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.text-aux{
    color: #242424;
    margin-top: 10px;
}

.text-addition {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

/*-----------------projects------------------------*/

.projects{
    padding-top: 0;
}

.project__box{
    padding: 10px 0 0 15px;
}

.project__title{
    text-transform: uppercase;
    padding: 0;
    background-color: transparent;
    font-size: 15px;
}

.project__item{
    margin-top: 7px;
}

.project__item--box{
    display: flex;
    justify-content: space-between;
    /* margin: 0 0 0 5px; */
}

.project__link{
    color: var(--link-background) !important; 
}

.project__tech{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.project__description{
    color: var(--description-color);
    margin-top: 5px;
    /* margin-left: 5px; */
}

/*----------------------experience-------------------*/

.experience{
    padding-top: 0;
}

.box{
    padding: 10px 15px 0;
}

.box-second{
    padding-left: 0;
}

.second__title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-color);
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.experience__list{
    margin-top: 7px;
    margin-left: 15px;
}

.experience__item{
    color: var(--description-color);
}

.description{
    color: var(--description-color);
    margin-top: 5px;
}

.education__description{
    margin-top: 5px;
}

/*-------------right-----------*/

.secondary-title{
    padding: 0;
    background-color: transparent;
}

.right-side {
    width: 25%;
    margin: 0;
    background-color: var(--secondary-background);
}

.contacts {
    background-color: var(--secondary-background);
}

.address{
    margin-top: 7px;
}

.address__description{
    color: black;
    /* margin-top: 3px; */
}

.address__link{
    color: rgb(251, 248, 248);
}

.tech{
    padding-top: 0;
    background-color: var(--secondary-background);
}